body{
  margin: 0;
}
a {
  color:black;
  text-decoration: none;
}
h1{
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;
}
#list{
  font-size: 15px;
  font-weight: 600;
  line-height: 50px;
  border-right: 1px solid gray;
  width: 120px;
  padding: 20px;
  margin: 0;
  padding-left: 15px;
}
img{
  margin: 0px auto;
  padding-bottom: 20px;
  width: 300px;
  height: 300px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding: 20px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #list{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
  img{
    display: none;
  }
}
